<a href="https://colab.research.google.com/github/JJader/AEDS1/blob/master/como_montar_drive_e_salvar_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas

In [ ]:
data = pandas.DataFrame({"jamisson":[1,2,3,4,5]})

In [ ]:
data.to_csv("obj_co_presence2.csv")

In [ ]:
!dir

In [ ]:
!cp obj_co_presence2.csv "/content/drive/My Drive/"

In [ ]:
data = pandas.read_csv('/content/drive/My Drive/Colab Notebooks/obj_co_presence2.csv')

In [ ]:
data

   Unnamed: 0  jamisson
0           0         1
1           1         2
2           2         3
3           3         4
4           4         5